*{
    box-sizing: border-box;
    list-style: none;
}
header{
    padding: 30px;
    margin: 0px;
    background-color: aquamarine;
    text-align: center;
    color: brown;
    text-transform: lowercase;
    text-shadow: rgba(210, 105, 30, 0.829);
    
}
    nav a {
    text-decoration: none;
    color: azure;
    /* background-color: black; */
    padding: 30px;
    text-align: center;
    float: left;
    
}
nav{
    background-color: black;
    overflow: hidden;

}
a:hover{
color: brown;
}
/* a:visited{
    color: darkblue;
} */
section{
    text-align: center;
    padding-top: 40px;
    height: 100vh;
}
section:nth-child(even){
    background-color: plumS;
}
.u{


    padding:20px;
}
footer{
    text-decoration: none;
    background-color: black;
    /* padding: 10px; */
    width: 100%;
    /* height: 30px; */
    float: left;
    
}
footer a{
    color: white;
  padding: 20px;  
  text-decoration: none;
}
.copy{
    float: right;
    padding-top: 0px;
    padding-bottom: 6px;
}